#container{
    background-color:#757575;
}

table {
    border-collapse:collapse;
}
#tableBorder{
    height:10px;
    width:16px;
}

#leftRightBorder{
    height:16px;
    width:16px;
}
#bottomBorder{
    height:16px;
    width:16px;
}

tbody {
    line-height:0;
}
td {
    padding:0;
}

.clicked {
    background-color: #eee;
    
}

.bomb {
    height:16px;
    width:16px;
}
.blank {
    height:16px;
    width:16px;
}
.flag {
    height:16px;
    width:16px;
}