<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact the maker of this tutorial at <a href="mailto:tim5046@gmail.com">tim5046@gmail.com</a> or via <a href="https://github.com/tim5046">GitHub</a>.
</p> 