<h1>RailsBrite</h1>
<div class="center hero-unit">
	<h3>Welcome to RailsBrite</h3>
	<h2> This is the home page for RailsBrite, an Eventbrite clone that was build for The Odin Project's Rails curriculum <a target="_blank" href= "http://www.theodinproject.com/ruby-on-rails/associations">here</a>.</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
