<h1>mEmBeRs OnLy!</h1>

<p>This application is a project in the Project Odin curriculum.  If you're looking to learn Web Dev, I'd highly recommend it. </p>

<p>Yes, I know this site has no layout and is ugly.  It's a test of the functionality, not of the design.  I'll put more time into the design on later projects</p>

<div style="text-align:center">
<a href="/signin">Sign in</a>
<a href="/signup">Sign up</a>
</div>