<div class="row">
	<aside class="span4">
		<section>
			<h1>User name: 
				<%= @user.name %><br />
				<%= link_to "Home", root_path %><br />
				<% if current_user?(@user) %>
					<%= link_to "Sign out", signout_path, method: "delete" %>
				<% end %>
			</h1>
		</section>
	</aside>
</div>